/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS */
.bg-blu {
    background-color: #0584FD;
}

.bg-purple {
    background-color: #9792E3;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.purple {
    color: #9792E3;
}

.blu {
    color: #0584FD;
}

.black {
    color: black;
}

.white {
    color: white;
}

.card-blu {
    background-color: #B5DDFF;
}

/* SKILLS */
.pd-xl {
    padding: 100px 0;
}

.border {
    border: 2px dashed red;
}

.mr-v5 {
    margin: 5px 0;

}

.mr-v10 {
    margin: 10px 0;
}

.mr-top30 {
    margin-top: 30px;
}

.mr-bot30 {
    margin-bottom: 30px;
}

.mr-left30 {
    margin-left: 30px;
}

.mr-left65 {
    margin-left: 65px;
}

.fb70 {
    flex-basis: 70%;
}

.fb30 {
    flex-basis: 30%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.font-big {
    font-size: 40px;
}

.font-m {
    font-size: 30px;
}


/* generics */
body {
    font-family: 'PT Sans', sans-serif;
}

/* utily */
.container {
    max-width: 1200px;
    margin: 0 auto;
}


img {
    max-width: 100%;
}

.btn-wht {
    background-color: white;
    color: black;
    border-radius: 14px;
    padding: 7px 15px;
    border: 0;
    cursor: pointer;
}

.btn-blu {
    background-color: #0584FD;
    color: white;
    padding: 8px 50px;
    border-radius: 14px;
    cursor: pointer;
    border: 0;
}

.btn-purple {
    background-color: #9792E3;
    color: white;
    padding: 8px 40px;
    border-radius: 14px;
    cursor: pointer;
    border: 0;
    margin-bottom: 30px;
}

/* * HEADER */
.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 0 30px;

}

.navbar-menu .fa-bars {
    color: white;
    cursor: pointer;
}

.menu-links {
    display: none;
    list-style: none;
    color: white;
}

.menu-links a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.menu-links li {
    margin: 0 20px;
}

/* * MAIN */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.col {
    min-height: 200px;
    width: 85%;
}

.card {
    border-radius: 25px;
    padding: 0 35px;
    margin: 10px 0;
}

.card-text {
    padding: 20px 60px;
}

.card-image {
    padding: 0 30px;
}

.card .fa {
    color: #0584FD;
    font-size: 88px;
    text-align: center;
    display: block;
    padding: 20px;
}

/* ! MAIN-PURPLE */

.main-purple {
    min-height: 400px;
}

.main-purple .card {
    min-width: 100%;
    min-height: 400px;
}

.main-purple h3,
p {
    color: white;
}

.main-purple .card-text h3 {
    font-size: 25px;
    margin: 20px 0;
}

.main-purple .card-text p {
    font-size: 18px;
    font-style: italic;
}

.main-purple .card-w {
    border-radius: 80px;
}

.bg-white h3,
p,
.fa-arrow-down {
    color: black;
    text-align: center;
}



.card-text .btn-arrow {
    background-color: #9792E3;
    border: 0;
    font-size: 30px;
    border-radius: 50%;

    padding: 12px 15px;
    display: block;
    margin: 55px auto;


}



/* ! MAIN-PERSONS */
.main-persons {
    min-height: 400px;
}

.main-persons .card {
    min-width: 100%;
    min-height: 330px;
}

.main-persons .card-text {
    text-align: center;
    line-height: 30px;

}

.main-persons .bg-purple {
    border-radius: 25%;
}



.main-persons img {
    border-radius: 50%;
    height: 221px;
    width: 70%;
    margin: 10px 50px;
}

/* ! MAIN-BENEFTIS */
.main-benefits h2 {
    color: white;
    padding: 30px 0;
}

.main-benefits .purple {
    color: #9792E3;
    text-align: left;
    font-size: 40px;
    margin: 25px auto;
}

.main-benefits h4 {
    color: #9792E3;
    font-size: 25px;
    margin-bottom: 10px;
}

.main-benefits p {
    text-align: left;
    padding: 35px 0;
}

/* ! MAIN-ABOUT */
/* ! MAIN-STARTED */
.main-started {
    min-height: 400px;
}

/* *FOOTER */

footer {
    min-height: 80px;
}

/* ? MEDIA QUERIES */

/* @media screen and (min-width:768px) {

    .blu-nav .mobile {
        max-width: 768px;
        width: 100%;


    }

    .blunav .navbar {}
}
*/

@media screen and (min-width: 1200px) {
    .fa-bars {
        display: none;
    }

    .menu-links {
        display: flex;
        align-items: center;
    }
}