/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-header {
    background-color: #0584FD;

    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 0 30px;

}

.navbar-menu .fa-bars {
    color: white;
    cursor: pointer;
}

/* generics */
body {
    font-family: 'PT Sans', sans-serif;
}

/* utily */
.container {
    max-width: 1200px;
    margin: 0 auto;
}


img {
    max-width: 100%;
}


/* HEADER */
.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-links {
    display: none;
}

/* ? MEDIA QUERIES */

/* @media screen and (min-width:768px) {

    .blu-nav .mobile {
        max-width: 768px;
        width: 100%;


    }

    .blunav .navbar {}
}
*/

@media screen and (min-width: 1200px) {
    .fa-bars {
        display: none;
    }

    .menu-links {
        display: flex;
    }
}