/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0084fd;
    --light: #b5ddff;
    --purple: #9792e4;
    --black: #111;
    --whithe: #fff;
    --dark-gray: #333;

}

/* skills */
.border-red {
    border: 2px dashed red;
}

.border-black {
    border: 2px dashed black;
}

img {
    max-width: 100%;
}

address {
    margin: 2rem auto;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 5px;
}

/* generics */
body {
    font-family: 'PT Sans', sans-serif;
}

/* utils */
.container {
    max-width: 600px;
    margin: 0 auto;
}

section {
    min-height: 500px;
    padding: 3rem 2rem;
}

section:nth-child(even) {
    background-color: var(--purple);
}



/* ! HEADER */


.main-header {
    /* min-height: 80px; */
    color: var(--whithe);
    background-color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu-links {
    display: none;
    list-style: none;
    color: var(--whithe);
    align-items: center;
    gap: 10px;
}

.menu-links a {
    text-decoration: none;
    color: var(--whithe);
    cursor: pointer;
}

.navbar-menu button {
    background-color: var(--whithe);
    color: var(--black);
    padding: 10px 10px;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
}

/* SEZIONE INTRO */

#intro .card {
    background-color: var(--light);
    border-radius: 20px;
    margin-bottom: 2rem;
    /* * DA TOGLIERE DOPO */
    min-height: 400px;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#intro .card-text {
    padding: 2rem 3rem;
    font-size: 22px;
    text-align: center;
}

#intro .card-text h4 {
    color: var(--blue);
    font-size: 30px;
    margin-bottom: 2rem;
}

#intro .symbol {
    font-size: 75px;
    color: var(--blue);
    margin-bottom: 2rem;
}

#intro button {
    background-color: var(--blue);
    color: var(--whithe);
    padding: 6px 30px;
    border: 0;
    border-radius: 2rem;
    font-size: 15px;
    margin: 1rem auto;
    cursor: pointer;
}

#intro img {
    width: 100%;
    height: auto;
}

/* SEZIONE STRATEGIC */


#strategic-planning img {
    width: 100%;
}

#strategic-planning .white-card {
    min-height: 400px;
    background-color: var(--whithe);
    border-radius: 54px;
    margin-top: 30px;

}

#strategic-planning .white-text {
    color: var(--whithe);
    font-size: 25px;
    padding: 2rem 3rem;
}

#strategic-planning .white-text h4 {
    font-size: 35px;
    margin: 15px auto;
}

#strategic-planning .black-text {
    color: var(--black);
    font-size: 25px;
    padding: 2rem 3rem;
    font-style: italic;
}

/* SEZIONE TESTIMONIALS */
#testimonials .card {
    /* min-height: 400px; */
    padding: 2rem 3rem;
}

#testimonials .card-purple {
    background-color: var(--purple);
    color: var(--whithe);
    border-radius: 54px;
    margin-top: 50px;

}

#testimonials .card-text {
    text-align: center;
    font-size: 30px;
}


#testimonials .card-text h3 {
    color: var(--purple);
    margin: 30px auto;
}

#testimonials .card-image img {

    object-fit: cover;
    width: 100%;
    height: 100%;

}

#testimonials .card-image {
    width: 200px;
    height: 200px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
}

/* SEZIONE BENEFITS */
#benefits h2 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 3rem auto;
}

#benefits .card {
    min-height: 400px;
    background-color: var(--whithe);
    color: var(--purple);
    border-radius: 25px;
    margin-bottom: 2rem;
    padding: 2rem 3rem;
}

#benefits .card-text {
    font-size: 30px;
}

#benefits .card-text h2 {
    color: var(--purple);
    font-size: 70px;
    text-align: left;

}

#benefits .card-text h3 {
    margin: 3rem auto;
}

#benefits .card-text p {
    color: var(--black);
}

#benefits .card-text button {
    background-color: var(--purple);
    color: var(--whithe);
    padding: 1rem 5rem;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 24px;
    margin: 2rem auto;

}

/* SEZIONE ABOUT */

#about .card {
    margin-bottom: 2rem;
    padding: 2rem 3rem;

}


#about .card-text {
    font-size: 24px;
    line-height: 3rem;
    margin-top: 2rem;
}

#about .card-text h2 {
    color: var(--purple);
    font-size: 40px;
    margin: 2rem auto;
}

#about .card-image {
    width: 350px;
    height: 350px;
    margin: 0;
    overflow: hidden;
    border-radius: 50%;
}

#about .card-image img {

    object-fit: cover;
    width: 100%;
    height: 100%;


}

#about .open-quote {
    font-size: 200px;
    color: var(--purple);
    display: inline;
}

#about button {
    background-color: var(--purple);
    color: var(--whithe);
    padding: 10px 10px;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 20px;
}

/* SEZIONE GET-STARTED */
#get-started .get-up-content {
    text-align: center;
    font-size: 30px;
    color: var(--whithe);
    line-height: 3rem;
}

#get-started .get-up-content h2 {
    color: #FDC05F;
    margin: 3rem auto;
    font-size: 80px;
}

#get-started .get-up-content h4 {
    font-weight: lighter;
    color: #C0BEEF;
}

#get-started button {
    background-color: var(--whithe);
    color: var(--purple);
    padding: 20px 100px;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 0.12rem;
    margin: 2rem auto;
}


#get-started .get-down-content {
    text-align: center;
    color: var(--whithe);
    font-size: 24px;
}

#get-started .get-down-content a {
    color: var(--whithe);

}





/* ! FOOTER */

footer {
    min-height: 80px;
    color: var(--whithe);
    background-color: var(--dark-gray);
}




/* ? M.Q. TABLET */
@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: -1rem;
    }


    .row>.col {
        padding: 1rem;
    }


    .w-33 {
        flex-basis: calc(100% / 3);
    }

    .w-50 {
        flex-basis: 50%;
    }

    .w-66 {
        flex-basis: calc(100% / 3 * 2);
    }

    .w-30 {
        flex-basis: 30%;
    }

    .w-70 {
        flex-basis: 70%;
    }

    #intro .card-text {
        padding: 1rem 1rem;
        font-size: 14px;
        text-align: center;
    }

    #intro img {
        width: 44%;
        height: 160px;
    }

    .tablet-flex {
        display: flex;
    }

    #testimonials .card {
        padding: 2rem 2rem;
    }

    #testimonials .card-image {
        margin-right: 2rem;

    }

    #testimonials .card-text {
        font-size: 24px;
    }

    #testimonials .card-purple .card-text {
        text-align: left;
    }

    #benefits .row {
        display: flex;
        flex-wrap: wrap;
    }

    #benefits .col {
        display: flex;
        flex-basis: calc(100% / 2);
    }

    #about .row {
        flex-direction: row;
        flex-wrap: wrap;

    }

    #about .col {
        flex-basis: calc(100% / 2);
    }
}


#about .card-image {
    width: 260px;
    height: 260px;

}

#about .card {

    padding: 2rem 0rem;
}




/* ? M.Q. DESKTOP */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }

    .navbar .menu-links {
        display: flex;
    }

    .navbar-menu .fa-bars {
        display: none;
    }

    .desktop-flex {
        display: flex;
    }

    .w-50 {
        flex-basis: 50%;
    }

    #intro img {
        width: 95%;
        height: 396px;

    }

    #strategic-planning .row {
        display: flex;
        flex-direction: row;
    }

    #strategic-planning .col {
        flex-basis: 50%;
    }

    #strategic-planning .small-card {
        padding: 3rem 4rem;
    }

    #testimonials .card-image {
        margin-right: 2rem;
    }

    #testimonials .card-image {
        width: 300px;
        height: 300px;
    }

    #testimonials .col .card {
        align-items: center;
    }

    #benefits .col {
        display: flex;
        flex-basis: calc(100% / 3);
    }

    #benefits .card {
        padding: 2rem 2rem;

    }

    #about .card {
        padding: 0;


    }

    #about .col {
        flex-basis: calc(100% / 2);
    }
}